<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StudyMoya(2).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A450C4CD1FA191C8005C8103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A450C4E11FA191CA005C8103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A450C4EC1FA191CA005C8103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
